.board {
    background-color: black;
}
table, th, td { 
    border: 0.5px solid black;
}
.box {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
}
.confirmShip {
    background-color: purple;
}
.containsShip {
    background-color: blue;
}
.unconfirmedAttack {
    background-color: yellow;
}
.box:hover {
    background-color: orange;
}
.fakeHoverBox {
    background-color: orange;
}
.hit {
    background-color: red;
}
.miss {
    background-color: gray;
}
body {
    background-color: green;
}
.players {
display: flex;
flex-direction: row;
justify-content: flex-start;
}
.playerOne {
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-left: 5%;
}
.playerTwo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10%;
}
.boxTypes {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin-left: 10%;
}
.gameInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    width: 35%;
}