.box {
 background-color: blue;
 width: 30px;
}
.board {
    display: grid;
    background-color: green;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
}
.box {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
}
body {
    background-color: green;
}