.board {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width: 20px;
}
.box {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
}
.containsShip {
    background-color: blue;
}
.hit {
    background-color: red;
}
.miss {
    background-color: gray;
}
body {
    background-color: green;
}
.players {
display: flex;
flex-direction: row;
justify-content: flex-start;
}
.playerOne {
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-left: 10%;
}
.playerTwo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 50%;
}
.boxTypes {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin-left: 10%;
}